/*options.css */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

*{
	margin: 0;
	font-family: 'Didact Gothic', sans-serif;
}

p {
	font-family: sans-serif;
	margin-left: 20px;
	font-size: 14px;
}

h2 {
	background-color: black;
	font-size: 25px;
	color: white;
	height: 50px;
	font-family: 'Didact Gothic', sans-serif;
	padding-left: 15px;
	padding-top: 5px;
	margin-bottom: 20px


}

table {
	background-color: rgb(226, 226, 226) ;
	margin-top: 20px;
	width: 980px;
	border: 1px solid rgb(165, 165, 165);
	margin-left: 20px;
	font-family: 'Didact Go thic', sans-serif;
	font-size: 18px;
	padding: 0;
	text-align: center;
	margin: 0px 20px;

}


.hidden {
	display: none;
}

.getHash {
	text-align: center;
	width: 40px;
	height: 25px;
	padding: 0;
	margin: 0;
	border-color: white;
}

.download {
	text-align: center;
	width: 55px;
	height: 25px;
	padding: 0;
	margin: 0;
	border-color: white;
}

.dark {
	background-color: rgb(193, 193, 193);
}

.check:hover {
	opacity: 1;
}

.check {
	height: 25px;
	width: 25px;
	background: url("checkmark.png");
	background-size: 25px;
	border: none;
	opacity: 0.7;
	padding: 0;
	margin: 0;

}

.trash {
	height: 25px;
	width: 25px;
	background: url("trash.png");
	background-size: 25px;
	border: none;
	opacity: 0.7;
}

.trash:hover {
	opacity: 1;
}

.reload:hover {
	opacity: 1;
}

.reload {
	height: 25px;
	width: 25px;
	background: url("reload.png");
	background-size: 25px;
	border: none;
	opacity: 0.7;
}

#hash {
	max-width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	border-spacing: 0;
}

#date {
	width: 140px;
}



/*#reset, #loadDefault {
	font-family: sans-serif;
	width: 100px;
	height: 40px;
}*/
